In [1]:
import pandas as pd
df = pd.read_csv("Baltimore_crime_data.csv")

In [2]:
df.head()

,CrimeCode,CrimeDate,CrimeTime,Description,District,Location,Location 1,Neighborhood,Post,Total Incidents,Weapon
0,6E,12/31/2015,00:01:00,O,SOUTHERN,2600 NORTHSHIRE DR,"(39.2572900000, -76.6440400000)",Lakeland,923.0,1,NaN
1,4E,12/31/2015,00:02:00,I,EASTERN,1300 N ELLWOOD AVE,"(39.3064300000, -76.5737800000)",Berea,332.0,1,HANDS
2,5A,12/31/2015,01:00:00,I,SOUTHERN,1200 JAMES ST,"(39.2821000000, -76.6354000000)",Washington Village/Pigtown,932.0,1,NaN
3,5A,12/31/2015,01:01:00,I,SOUTHWESTERN,0 N ELLAMONT ST,"(39.2861000000, -76.6704700000)",Carroll-South Hilton,842.0,1,NaN
4,4C,12/31/2015,01:20:00,I,NORTHWESTERN,2500 VIOLET AVE,"(39.3312800000, -76.6583700000)",Park Circle,612.0,1,OTHER

In [3]:
df.count()

CrimeCode          94669
CrimeDate          94669
CrimeTime          94669
Description        93831
District           94636
Location           93991
Location 1         93991
Neighborhood       93969
Post               94496
Total Incidents    94669
Weapon             31033
dtype: int64