In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import os
import csv
import datetime
import moment

# import api key
from config import api_key
   
# Weather URL
weather_url = "http://history.openweathermap.org//storage/dc1e5df660e33aec203660c9b2000bc3.json"
solunar_url = "https://api.solunar.org/solunar/latitude,longitude,date,tz"
#https://api.solunar.org/solunar/42.66,-84.07,20180207,-4

# make request and store response
response = requests.get(weather_url)
response_2 = requests.get(solunar_url)

# print status code
print(response.status_code)
print(response_2.status_code)

200
200

In [2]:
#JSONify response
response_json = response.json()
response_2_json = response_2.json()

In [3]:
# print first article
print(f"The first response is {json.dumps(response_json[0], indent=4)}.")

The first response is {
    "city_id": 4990729,
    "main": {
        "temp": 265.33,
        "temp_min": 263.71,
        "temp_max": 266.48,
        "pressure": 1025,
        "humidity": 61
    },
    "wind": {
        "speed": 5,
        "deg": 250
    },
    "clouds": {
        "all": 90
    },
    "weather": [
        {
            "id": 804,
            "main": "Clouds",
            "description": "overcast clouds",
            "icon": "04"
        }
    ],
    "dt": 1388534400,
    "dt_iso": "2014-01-01 00:00:00 +0000 UTC"
}.

In [4]:
# count of responses
print(f"We received {len(response_json)} responses.")

We received 33454 responses.

In [5]:
# reference to CSV file
ATL_csvpath = os.path.join('..','crangmcgee','atl_crime_2010_through_2015.csv')
#ATL_csvpath = "atl_crime_2010_through_2015.csv"

with open(ATL_csvpath, newline='') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    print(csvreader)

ATL_crime_df = pd.read_csv(ATL_csvpath)
ATL_crime_df.head()
ATL_crime_df.count()

<_csv.reader object at 0x0000025A573FD3F0>

crime           197924
number          197924
date            197924
day             197924
month           197924
year            197924
beat            197921
neighborhood    189214
npu             196352
lat             197924
long            197924
dtype: int64

In [6]:
ATL_crime_df["unixdate"] = ATL_crime_df["date"].map(lambda x:datetime.datetime.strptime(x, "%m/%d/%Y").timestamp())
ATL_crime_df['unixdate'] = ATL_crime_df['unixdate'].apply('astype',dtype='int64')
ATL_crime_df['unixdate'].head()

0    1262322000
1    1262322000
2    1262322000
3    1262322000
4    1262322000
Name: unixdate, dtype: int64

In [7]:
ATL_crime_df.head()

,crime,number,date,day,month,year,beat,neighborhood,npu,lat,long,unixdate
0,BURGLARY-RESIDENCE,100010792.0,1/1/2010,1,1,2010,102.0,Vine City,L,33.75823,-84.41384,1262322000
1,AGG ASSAULT,100010639.0,1/1/2010,1,1,2010,106.0,Bankhead,K,33.76412,-84.42370,1262322000
2,LARCENY-FROM VEHICLE,100010545.0,1/1/2010,1,1,2010,110.0,West Highlands,G,33.79172,-84.44385,1262322000
3,LARCENY-NON VEHICLE,100011076.0,1/1/2010,1,1,2010,110.0,West Highlands,G,33.79477,-84.46936,1262322000
4,AGG ASSAULT,100010677.0,1/1/2010,1,1,2010,112.0,Collier Heights,I,33.77151,-84.47866,1262322000