In [8]:
import pandas as pd
df_2014 = pd.read_csv('https://query.data.world/s/u5vi3y33mujhpwka7rqf6t75rqpc27')
df_2015 = pd.read_csv('https://query.data.world/s/vdz7h4a5ekrs2sq4gv4lvjplbeihcb')

In [9]:
df_2014.head()

,Report_No,Reported_Date,Reported Time,From_Date,From Time,To_Date,To Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Location 1,Firearm Used Flag
0,140074287,10/14/2014 12:00:00 AM,12:50,10/14/2014 12:00:00 AM,12:50,NaN,NaN,1849,35A,Possession/Sale/Dist,...,PJ0910,CPD,U,1,VIC,NaN,NaN,NaN,E 10 ST/WOODLAND AV\nKANSAS CITY 64124\n(39.10...,N
1,140052696,07/27/2014 12:00:00 AM,19:27,07/27/2014 12:00:00 AM,19:27,07/27/2014 12:00:00 AM,19:30,1849,35A,Possession/Sale/Dist,...,PJ5739,MPD,U,1,ARR,B,M,27.0,1800 E 76 TE\nKANSAS CITY 64130\n(38.988055670...,N
2,140045376,06/30/2014 12:00:00 AM,13:56,06/23/2014 12:00:00 AM,08:30,06/30/2014 12:00:00 AM,11:30,831,13C,Intimidation,...,PJ3442,EPD,U,1,SUS,B,F,47.0,4200 SOUTH BENTON AV\nKANSAS CITY 64130\n(39.0...,N
3,140031162,05/08/2014 12:00:00 AM,11:48,05/08/2014 12:00:00 AM,11:00,NaN,NaN,502,220,Burglary - Non Resid,...,PJ0542,CPD,U,1,SUS,U,U,35.0,1300 WOODSWETHER RD\nKANSAS CITY 64105\n(39.10...,N
4,140092897,12/28/2014 12:00:00 AM,23:28,12/28/2014 12:00:00 AM,23:28,NaN,NaN,2655,90J,Trespassing,...,PJ1867,CPD,U,1,ARR,B,M,39.0,2300 MCGEE ST\nKANSAS CITY 64109\n(39.08522066...,N

In [10]:
df_2014.count()

Report_No              124832
Reported_Date          124832
Reported Time          124832
From_Date              124607
From Time              124546
To_Date                 49527
To Time                 49018
Offense                124832
IBRS                   124047
Description            124832
Beat                   124729
Address                124817
City                   124817
Zip Code               120743
Rep_Dist               124633
Area                   124633
DVFlag                 124832
Invl_No                124832
Involvement            124832
Race                   107076
Sex                    107076
Age                     72378
Location 1             124817
Firearm Used Flag      124832
dtype: int64

In [11]:
df_2015.count()

Report_No            121901
Reported_Date        121901
Reported Time        121901
From_Date            121716
From Time            121632
To_Date               46553
To Time               46134
Offense              121901
IBRS                 120989
Description          121901
Beat                 121744
Address              121875
City                 121875
Zip Code             117463
Rep_Dist             121681
Area                 121681
DVFlag               121901
Invl_No              121901
Involvement          121901
Race                 105155
Sex                  105155
Age                   71814
Location 1           121875
Firearm Used Flag    121901
dtype: int64

In [12]:
#combining dataframes
frames = [df_2014,df_2015]
df_KC = pd.concat(frames, ignore_index = True, sort=True)

df_KC.count()

Address                246692
Age                    144192
Area                   246314
Beat                   246473
City                   246692
DVFlag                 246733
Description            246733
Firearm Used Flag      121901
Firearm Used Flag      124832
From Time              246178
From_Date              246323
IBRS                   245036
Invl_No                246733
Involvement            246733
Location 1             246692
Offense                246733
Race                   212231
Rep_Dist               246314
Report_No              246733
Reported Time          246733
Reported_Date          246733
Sex                    212231
To Time                 95152
To_Date                 96080
Zip Code               238206
dtype: int64

In [13]:
df_2014.dtypes

Report_No                int64
Reported_Date           object
Reported Time           object
From_Date               object
From Time               object
To_Date                 object
To Time                 object
Offense                  int64
IBRS                    object
Description             object
Beat                    object
Address                 object
City                    object
Zip Code               float64
Rep_Dist                object
Area                    object
DVFlag                  object
Invl_No                  int64
Involvement             object
Race                    object
Sex                     object
Age                    float64
Location 1              object
Firearm Used Flag       object
dtype: object

In [26]:
df_KC['Reported_Date'] = df_KC['Reported_Date'].astype('str')

In [27]:
df_KC.dtypes

Address                 object
Age                    float64
Area                    object
Beat                    object
City                    object
DVFlag                  object
Description             object
Firearm Used Flag       object
Firearm Used Flag       object
From Time               object
From_Date               object
IBRS                    object
Invl_No                  int64
Involvement             object
Location 1              object
Offense                  int64
Race                    object
Rep_Dist                object
Report_No                int64
Reported Time           object
Reported_Date           object
Sex                     object
To Time                 object
To_Date                 object
Zip Code               float64
dtype: object

In [11]:
df_KC.to_csv("KC_crime_data.csv",index = False, header = True)