In [42]:
import pandas as pd
df_2014 = pd.read_csv('https://query.data.world/s/rz2vqbebxxu64j2wy3tbqlqnb2mrz6')
df_2015_16 = pd.read_csv('https://query.data.world/s/pq5pkzltbe6e2pnmcycdk2dfc6odzw')

In [43]:
df_2014.head()

,Date Rptd,DR NO,DATE OCC,TIME OCC,AREA,AREA NAME,RD,Crm Cd,Crm Cd Desc,Status,Status Desc,LOCATION,Cross Street,Location 1
0,12/31/2014 12:00:00 AM,140101527,12/30/2014 12:00:00 AM,1855,1,Central,176,210,ROBBERY,IC,Invest Cont,7TH ST,MAPLE AV,"(34.0429, -118.2499)"
1,12/31/2014 12:00:00 AM,140101528,12/31/2014 12:00:00 AM,605,1,Central,156,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",AO,Adult Other,6TH ST,SAN JULIAN ST,"(34.0432, -118.2466)"
2,12/31/2014 12:00:00 AM,140104069,12/30/2014 12:00:00 AM,1855,1,Central,176,210,ROBBERY,IC,Invest Cont,7TH ST,MAPLE AV,"(34.0429, -118.2499)"
3,12/31/2014 12:00:00 AM,140127976,08/25/2014 12:00:00 AM,1200,1,Central,157,649,DOCUMENT FORGERY / STOLEN FELONY,IC,Invest Cont,500 S SAN PEDRO ST,NaN,"(34.0442, -118.2439)"
4,12/31/2014 12:00:00 AM,140128170,12/30/2014 12:00:00 AM,1630,1,Central,161,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),IC,Invest Cont,700 S FIGUEROA ST,NaN,"(34.0494, -118.2599)"

In [44]:
df_2015_16.head()

,Date Rptd,DR. NO,DATE OCC,TIME OCC,AREA,AREA NAME,RD,Crm Cd,Crm Cd Desc,Status,Status Desc,LOCATION,Cross Street,Location 1
0,03/05/2016,160100715,03/05/2016,2300,1,Central,152,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",IC,Invest Cont,6TH,HOPE,"(34.0495, -118.2563)"
1,03/05/2016,160100717,03/05/2016,1555,1,Central,153,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",AA,Adult Arrest,600 S BROADWAY,NaN,"(34.0467, -118.2520)"
2,03/05/2016,160108995,03/05/2016,450,1,Central,162,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",IC,Invest Cont,800 S FIGUEROA ST,NaN,"(34.0479, -118.2612)"
3,03/05/2016,160108996,03/05/2016,450,1,Central,162,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",IC,Invest Cont,800 S FIGUEROA ST,NaN,"(34.0479, -118.2612)"
4,03/05/2016,160108997,03/05/2016,500,1,Central,111,930,CRIMINAL THREATS - NO WEAPON DISPLAYED,IC,Invest Cont,700 CLEVELAND ST,NaN,"(34.0628, -118.2420)"

In [45]:
df_2015=df_2015_16.loc[df_2015_16["DATE OCC"].str.contains("2015"), :]

In [46]:
df_2015_16.count()

Date Rptd       78920
DR. NO          78920
DATE OCC        78920
TIME OCC        78920
AREA            78920
AREA NAME       78920
RD              78920
Crm Cd          78920
Crm Cd Desc     78902
Status          78920
Status Desc     78920
LOCATION        78920
Cross Street    47135
Location 1      78920
dtype: int64

In [33]:
df_2015.count()

Date Rptd       43115
DR. NO          43115
DATE OCC        43115
TIME OCC        43115
AREA            43115
AREA NAME       43115
RD              43115
Crm Cd          43115
Crm Cd Desc     43115
Status          43115
Status Desc     43115
LOCATION        43115
Cross Street    41076
Location 1      43115
dtype: int64

In [34]:
frames = [df_2014,df_2015]
df_LA = pd.concat(frames, ignore_index = True, sort=True)

df_LA.count()

AREA            286511
AREA NAME       286511
Crm Cd          286511
Crm Cd Desc     286511
Cross Street    117310
DATE OCC        286511
DR NO           243396
DR. NO           43115
Date Rptd       286511
LOCATION        286511
Location 1      284699
RD              286511
Status          286510
Status Desc     286511
TIME OCC        286511
dtype: int64

In [35]:
df_2014.count()

Date Rptd       243396
DR NO           243396
DATE OCC        243396
TIME OCC        243396
AREA            243396
AREA NAME       243396
RD              243396
Crm Cd          243396
Crm Cd Desc     243396
Status          243395
Status Desc     243396
LOCATION        243396
Cross Street     76234
Location 1      241584
dtype: int64

In [36]:
df_2014['Crm Cd Desc'].value_counts()

TRAFFIC DR #                                                46943
BATTERY - SIMPLE ASSAULT                                    18475
THEFT PLAIN - PETTY ($950 & UNDER)                          15792
BURGLARY                                                    13903
VEHICLE - STOLEN                                            13724
THEFT OF IDENTITY                                           13517
BURGLARY FROM VEHICLE                                       13116
SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT                       11598
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)      9638
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     9106
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               8326
THEFT FROM MOTOR VEHICLE - PETTY ($950.01 & OVER)            7790
ROBBERY                                                      6949
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     6532
CRIMINAL THREATS - NO WEAPON DISPLAYED                       5827
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     4581
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)             2989
DOCUMENT FORGERY / STOLEN FELONY                             2364
VIOLATION OF COURT ORDER                                     2201
OTHER MISCELLANEOUS CRIME                                    2148
VIOLATION OF RESTRAINING ORDER                               1980
LETTERS, LEWD                                                1956
TRESPASSING                                                  1656
THEFT, PERSON                                                1216
BURGLARY, ATTEMPTED                                          1168
BIKE - STOLEN                                                1145
BATTERY WITH SEXUAL CONTACT                                  1110
CHILD, CRIME AGAINST                                         1091
RAPE, FORCIBLE                                               1015
ATTEMPTED ROBBERY                                            1007
                                                            ...
RECKLESS DRIVING                                               13
FAILURE TO YIELD                                               13
SHOPLIFTING - ATTEMPT                                          13
PROPERTY MISSING RVD VEH - PETTY ($950 & UNDER)                11
SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT                9
DISHONEST EMPLOYEE - PETTY THEFT                                9
DISHONEST EMPLOYEE - GRAND THEFT                                9
CHILD ABANDONMENT                                               8
THEFT, COIN MACHINE - PETTY ($950 & UNDER)                      7
TILL TAP - PETTY ($950 & UNDER)                                 6
CONSPIRACY                                                      5
LYNCHING                                                        5
FAILURE TO DISPERSE                                             5
DRUGS, TO A MINOR                                               5
BIGAMY                                                          3
LYNCHING - ATTEMPTED                                            3
GRAND THEFT / AUTO REPAIR                                       3
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        3
TELEPHONE PROPERTY - DAMAGE                                     3
PETTY THEFT - AUTO REPAIR                                       2
DISRUPT SCHOOL                                                  2
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                    2
DISHONEST EMPLOYEE ATTEMPTED THEFT                              1
BIKE - ATTEMPTED STOLEN                                         1
TILL TAP - GRAND THEFT ($950.01 & OVER)                         1
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)        1
BRIBERY                                                         1
PURSE SNATCHING - ATTEMPT                                       1
GRAND THEFT / INSURANCE FRAUD                                   1
THEFT, COIN MACHINE - ATTEMPT                                   1
Name: Crm Cd Desc, Length: 127, dtype: int64

In [37]:
cleaned_df_2014 = df_2014.loc[df_2014["Crm Cd Desc"] != "TRAFFIC DR #"]

In [38]:
cleaned_df_2014['Crm Cd Desc'].value_counts()

BATTERY - SIMPLE ASSAULT                                    18475
THEFT PLAIN - PETTY ($950 & UNDER)                          15792
BURGLARY                                                    13903
VEHICLE - STOLEN                                            13724
THEFT OF IDENTITY                                           13517
BURGLARY FROM VEHICLE                                       13116
SPOUSAL(COHAB) ABUSE - SIMPLE ASSAULT                       11598
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)      9638
VANDALISM - MISDEAMEANOR ($399 OR UNDER)                     9106
ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT               8326
THEFT FROM MOTOR VEHICLE - PETTY ($950.01 & OVER)            7790
ROBBERY                                                      6949
THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD     6532
CRIMINAL THREATS - NO WEAPON DISPLAYED                       5827
SHOPLIFTING - PETTY THEFT ($950 & UNDER)                     4581
THEFT FROM MOTOR VEHICLE - GRAND ($400 AND OVER)             2989
DOCUMENT FORGERY / STOLEN FELONY                             2364
VIOLATION OF COURT ORDER                                     2201
OTHER MISCELLANEOUS CRIME                                    2148
VIOLATION OF RESTRAINING ORDER                               1980
LETTERS, LEWD                                                1956
TRESPASSING                                                  1656
THEFT, PERSON                                                1216
BURGLARY, ATTEMPTED                                          1168
BIKE - STOLEN                                                1145
BATTERY WITH SEXUAL CONTACT                                  1110
CHILD, CRIME AGAINST                                         1091
RAPE, FORCIBLE                                               1015
ATTEMPTED ROBBERY                                            1007
SPOUSAL (COHAB) ABUSE - AGGRAVATED ASSAULT                    966
                                                            ...
RECKLESS DRIVING                                               13
SHOPLIFTING - ATTEMPT                                          13
FAILURE TO YIELD                                               13
PROPERTY MISSING RVD VEH - PETTY ($950 & UNDER)                11
SHOTS FIRED AT MOVING VEHICLE, TRAIN OR AIRCRAFT                9
DISHONEST EMPLOYEE - GRAND THEFT                                9
DISHONEST EMPLOYEE - PETTY THEFT                                9
CHILD ABANDONMENT                                               8
THEFT, COIN MACHINE - PETTY ($950 & UNDER)                      7
TILL TAP - PETTY ($950 & UNDER)                                 6
LYNCHING                                                        5
CONSPIRACY                                                      5
FAILURE TO DISPERSE                                             5
DRUGS, TO A MINOR                                               5
LYNCHING - ATTEMPTED                                            3
BEASTIALITY, CRIME AGAINST NATURE SEXUAL ASSLT WITH ANIM        3
BIGAMY                                                          3
TELEPHONE PROPERTY - DAMAGE                                     3
GRAND THEFT / AUTO REPAIR                                       3
PETTY THEFT - AUTO REPAIR                                       2
THEFT, COIN MACHINE - GRAND ($950.01 & OVER)                    2
DISRUPT SCHOOL                                                  2
REPLICA FIREARMS(SALE,DISPLAY,MANUFACTURE OR DISTRIBUTE)        1
BIKE - ATTEMPTED STOLEN                                         1
PURSE SNATCHING - ATTEMPT                                       1
GRAND THEFT / INSURANCE FRAUD                                   1
BRIBERY                                                         1
TILL TAP - GRAND THEFT ($950.01 & OVER)                         1
THEFT, COIN MACHINE - ATTEMPT                                   1
DISHONEST EMPLOYEE ATTEMPTED THEFT                              1
Name: Crm Cd Desc, Length: 126, dtype: int64